<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body class="page-{{controller}}">

<div class="container">
    {{{body}}}
</div>

</body>
</html>
